# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/

# Jupyter
.ipynb_checkpoints/

# Data generated
*.csv
*.json
*.db

# OS
.DS_Store.venv/

# Python packaging
*.egg-info/
build/
dist/

# Quantum ESPRESSO / DFT calculations
calculations/

# Temporary QE input files
input_tmp.in

# Python cache
__pycache__/
*.pyc
